ul{
    display:flex;
    justify-content:flex-end;
    
}

.logo{
    display: flex;
    align-items: center;

}

.menu{
    margin-right: 80px;
    color: gray;
  
}

li{
    margin-right: 100px;
    padding: 5px;
    font-size: 20px;
   
}

img{
    
    margin-left: 30px;
    height: 150px;
    width: 150px;
}

.dudas {
    width: 220px;
    height: 60px;
    font-size: 22px;
    background-color: rgba(95, 159, 199, 0.823);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px; 
  }

  .info{
    width: 220px;
    height: 60px;
    font-size: 22px;
    background-color: rgba(95, 159, 199, 0.823);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.inicio{
    margin-top: 80px;
    margin-left: 30px;
    font-size: 14px;
}

.inicio h1{
    margin-left: 120px;
    font-size: 90px;
    font-weight: bold;
    color:gray;
}

.inicio h2{
    margin-left: 120px;
    font-size: 29px;
    font-weight: bold;
    color:gray;
}

.logo{
    margin-left: 90px;
    color:rgba(95, 159, 199, 0.823);
}

.logo strong{
    color:gray;
    font-size: 22px;
}

.inicio span{
    color:rgba(95, 159, 199, 0.823);
}

.seccion_inicio{
    background-color: rgba(217,217,217,255);
    height: 100vh;  
}

.botones{
   margin-top: 100px;
   margin-left: 120px;
}
 